<div class="ui padded grid">
        <div class="column"></div>
        <div class="eight wide column">
            <div class="row">
                <div class="ui segment">
                    <div class="excluir">
                        <i class="big times circle icon"></i>
                    </div>
                    <div class="ui sixteen wide columns grid">
                        <div class="three wide column">
                            <div class="row">
                                <div class="ui placeholder">
                                    <div class="image"></div>
                                </div>
                            </div>
                        </div>
                        <div class="thirteen wide centered column">
                            <div class="row">
                                <div class="ui two column very relaxed grid">
                                    <div class="column">
                                        <h3 class="ui header">
                                            Quiropraxia para Pequenos Animais
                                        </h3>
                                    </div>
                                    <div class="right aligned column">
                                        <button class="ui icon button">
                                            <i class="plus circle icon"></i>
                                          </button>
                                    </div>
                                </div>
                                <div class="ui two column very relaxed grid">
                                    <div class="column">
                                        <h5 class="ui header">
                                            R$100,00
                                        </h5>
                                    </div>
                                    <div class="right aligned column">
                                        <div class="ui grid">
                                            <div class="row">
                                                <div class="column"></div>
                                                <div class="fourteen wide column">
                                                    <h5 class="ui header">
                                                        1
                                                    </h5>
                                                </div>
                                                <div class="column"></div>
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="ui two column very relaxed grid">
                                    <div class="column">
                                        <h5 class="ui header">
                                            Subtotal:R$100,00
                                        </h5>
                                    </div>
                                    <div class="right aligned column">
                                        <button class="ui icon button">
                                            <i class="minus circle icon"></i>
                                          </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="row">
                <div class="ui segment">
                    <select class="ui fluid search dropdown">
                        <option value="">Resumo do Pedidos</option>
                    </select>
                    <div class="ui divider"></div>
                    <div class="ui sixteen wide columns grid">
                        <div class="row">
                            <div class="two column">
                                <i class="big black file alternate icon"></i>
                            </div>
                            <div class="fourteen wide column">
                                <h5>1x Curso de Extensão de Odontologia Integrativa - VALOR ATÉ DIA 05/02</h5>
                                <h3>Subtotal: R$200,00</h3>
                            </div>
                        </div>
                    </div>

                    <div class="ui divider"></div>
                    <h5> Subtotal: R$1.850,00</h5>
                    <h5> Desconto: R$200,00</h5>
                    <div class="ui divider"></div>
                    <h3> Total: R$1.650,00</h3>
                    <div class="ui divider"></div>
                    <button class="fluid ui button">Prosseguir para identificação</button>
                    <button class="fluid ui button">Continuar comprando</button>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>