<!-- prompts < -->
<div class="wrapper-prompts">
    <div class="prompt-empty">Required field</div>
    <div class="prompt-email">Invalid email</div>
</div>
<!-- prompts > -->

<!-- ui-texts < -->
<div class="wrapper-ui-texts">
    <div class="ui-text-loading">Sending...</div>
    <div class="ui-text-timeout-error">Connection error. Check your internet and try again.</div>
    <div class="ui-text-general-error">Error sending. Try again.</div>
    <div class="ui-text-require-v2-message">Complete the security challenge and try again.</div>
</div>
<!-- ui-texts > -->

<!-- ui-components < -->
<div class="wrapper-ui-components">
    <div class="ui-component-dimmer-fomantic"><!-- dimmerFomantic --><div class="ui dimmer"><div class="ui text loader">#loadingText#</div></div><!-- /dimmerFomantic --></div>
    <div class="ui-component-dimmer-tailwind"><!-- dimmerTailwind --><div class="fixed inset-0 bg-gray-500 bg-opacity-50 flex items-center justify-center"><div class="text-white">#loadingText#</div></div><!-- /dimmerTailwind --></div>
    <div class="ui-component-error-element"><!-- errorElement --><div class="error-msg">#message#</div><!-- /errorElement --></div>
    <div class="ui-component-recaptcha-v2"><!-- recaptchaV2 --><div class="g-recaptcha" data-sitekey="#siteKey#"></div><!-- /recaptchaV2 --></div>
    <div class="ui-component-form-disabled"><!-- formDisabled --><div class="ui warning message">This form is disabled.</div><!-- /formDisabled --></div>
</div>
<!-- ui-components > -->
