<!-- prompts < -->
<div class="wrapper-prompts">
    <div class="prompt-empty">Required field</div>
    <div class="prompt-email">Invalid email</div>
</div>
<!-- prompts > -->

<!-- ui-texts < -->
<div class="wrapper-ui-texts">
    <div class="ui-text-loading">Sending...</div>
    <div class="ui-text-timeout-error">Connection error. Check your internet and try again.</div>
    <div class="ui-text-general-error">Error sending. Try again.</div>
    <div class="ui-text-require-v2-message">Complete the security challenge and try again.</div>
</div>
<!-- ui-texts > -->

<!-- ajax-messages < -->
<div class="wrapper-ajax-messages">
    <div class="ajax-message-form-id-missing">Form ID missing.</div>
    <div class="ajax-message-suspected-bot">Suspected bot activity.</div>
    <div class="ajax-message-request-expired">Request expired.</div>
    <div class="ajax-message-captcha-failed">CAPTCHA validation failed.</div>
    <div class="ajax-message-captcha-v2-failed">CAPTCHA v2 validation failed.</div>
    <div class="ajax-message-form-disabled">Form is disabled.</div>
    <div class="ajax-message-required-field">Required field: #fieldLabel#.</div>
    <div class="ajax-message-min-length">Field #fieldLabel# must have at least 3 characters.</div>
    <div class="ajax-message-invalid-email">Invalid email.</div>
</div>
<!-- ajax-messages > -->

<!-- block-wrapper < -->
<div class="wrapper-block-wrapper">
    <!-- blockWrapper --><div class="ui warning visible message"><i class="exclamation triangle icon"></i><div class="content"><div class="header">Your device&#39;s IP address is BLOCKED!</div><p>Unfortunately, it is not possible to access your account from this current device due to excessive failed login attempts with invalid username and/or password. Please try again later on this device or on another device on a different network.</p></div></div><!-- /blockWrapper -->
</div>
<!-- block-wrapper > -->
