<!-- instalacao < -->
<div class="ui medium header">
    <i class="plug icon"></i>
    <div class="content"> Instalação </div>
</div>
<div class="ui info message visible">
    <div class="header">Ação Necessária: Instalar Novo APP do PayPal.</div>
    <div class="ui ordered list">
        <div class="item">Acesse o site do Developers do PayPal para criar um novo APP do PayPal acessando este site: <a href="https://www.paypal.com/signin?returnUri=https%3A%2F%2Fdeveloper.paypal.com%2Fdeveloper%2Fapplications" target="paypal-developers">https://www.paypal.com/signin?returnUri=https%3A%2F%2Fdeveloper.paypal.com%2Fdeveloper%2Fapplications</a>. </div>
        <div class="item">Crie uma nova conta PayPal ou forneça uma sua existente e faça o login.</div>
        <div class="item">Na Dashboard do "PayPal Developers", acesse a seção "My apps &amp; credentials". Na subseção "REST API apps", clique no botão azul "Create App".</div>
        <div class="item">Na página "Create New App" dê um nome a seu aplicativo que quiser. Deixe as opções padrões marcadas e por fim clique no botão azul "Create App".</div>
        <div class="item">Em seguida, na página do seu app do PayPal, na seção "API CREDENTIALS", copie os valores do "Client ID" e do "Secret". Retorne a esta página e forneça os mesmos logo no formulário abaixo.</div>
        <div class="item">Clique no botão "My apps &amp; credentials" no menu à esquerda. Em seguida na "Dashboard", clique no botão branco "Live" logo abaixo da seção "My apps &amp; credentials". Em seguida repita os mesmos procedimentos descritos nas etapas 3 a 5 logo acima.</div>
        <div class="item">Por fim, clique no botão "Instalar PayPal APP" aqui nesta página.</div>
    </div>
</div>
<div class="ui dividing header">SANDBOX API CREDENTIALS</div>
<div class="field">
    <label>Client ID</label>
    <input type="text" name="app_sandbox_code" placeholder="Client ID" autocomplete="off">
</div>
<div class="field">
    <label>Secret</label>
    <input type="text" name="app_sandbox_secret" placeholder="Secret" autocomplete="off">
</div>
<div class="ui dividing header">LIVE API CREDENTIALS</div>
<div class="field">
    <label>Client ID</label>
    <input type="text" name="app_code" placeholder="Client ID" autocomplete="off">
</div>
<div class="field">
    <label>Secret</label>
    <input type="text" name="app_secret" placeholder="Secret" autocomplete="off">
</div>
<input type="hidden" name="instalar" value="1">
<!-- instalacao > -->
<!-- reference < -->
<h1 class="ui header">#titulo#</h1>
<div class="ui medium header">
    <i class="handshake outline icon"></i>
    <div class="content"> Comissão Gestor </div>
</div>
<div class="ui info message visible">
    <div class="header">Taxa de Comissão por Operação.</div>
    <div class="ui ordered list">
        <div class="item">Cada venda de serviço/produto no uso do nosso gestor, é aplicada uma taxa de #taxa#% sobre o valor total da transação.</div>
        <div class="item">Para isso, é necessária a instalação do PayPal Reference.</div>
        <div class="item">Clique no botão logo abaixo "PayPal Reference Habilitar". Acesse o site do PayPal, forneça seu usário e senha da sua conta PayPal. E então inclua uma cartão de crédito válido seu ou de sua empresa.</div>
        <div class="item">É necessário a inclusão de um cartão de crédito, pois caso não haja recursos na sua carteira do PayPal para o pagamento do uso de nosso gestor, a taxa será debitada neste cartão.</div>
    </div>
</div>
<a class="ui button" href="/gateways-de-pagamentos/paypal-reference-create/">
    <i class="paypal user"></i> PayPal Reference Habilitar </a>
<!-- reference > -->
<!-- controles < -->
<h1 class="ui header">#titulo#</h1>
<div class="ui medium header">
    <i class="cogs icon"></i>
    <div class="content"> Controles </div>
</div>
<table class="ui very basic table">
    <tbody>
        <tr>
            <td>
                <button class="ui button desinstalarBtn" data-content="Clique para DESINSTALAR o APP do PayPal" data-variation="inverted">Desinstalar</button>
            </td>
        </tr>
        <tr>
            <td>
                <div class="ui buttons ativacao">
                    <button class="ui button ativarBtn" data-content="Clique para ATIVAR o meio de Pagamento PayPal" data-variation="inverted" data-acao="ativar">Ativo</button>
                    <div class="or" data-text="ou"></div>
                    <button class="ui button inativarBtn" data-content="Clique para INATIVAR o meio de Pagamento PayPal" data-variation="inverted" data-acao="inativar">Inativo</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="ui buttons ambiente">
                    <button class="ui button liveBtn" data-content="Clique para alterar o ambiente para LIVE" data-variation="inverted" data-acao="live">Live</button>
                    <div class="or" data-text="ou"></div>
                    <button class="ui button sandboxBtn" data-content="Clique para alterar o ambiente para SANDBOX" data-variation="inverted" data-acao="sandbox">Sandbox</button>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="ui buttons payPalPlus">
                    <button class="ui button pppAtivoBtn" data-content="Clique para ATIVAR o PayPal Plus" data-variation="inverted" data-acao="pppAtivar">PayPal Plus Ativo</button>
                    <div class="or" data-text="ou"></div>
                    <button class="ui button pppInativoBtn" data-content="Clique para INATIVAR o PayPal Plus" data-variation="inverted" data-acao="pppInativar">PayPal Plus Inativo</button>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- controles > -->