
[mysqld]
skip_ssl
skip_ssl_ca
skip_ssl_cert
skip_ssl_key
ssl=0
require_secure_transport=OFF

# Configurações de performance
innodb_buffer_pool_size = 512M
innodb_log_file_size = 256M
innodb_log_buffer_size = 16M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method = O_DIRECT
query_cache_size = 128M
query_cache_type = 1
max_connections = 200
table_open_cache = 4000
