<div class="ui fluid horizontal card _gestor-widgetImage-cont" id="#cont-id#">
    <div class="image fileImageParent">
        <img>
        <div class="fileImage">
            <img src="#img-src#" class="widgetImage-image">
        </div>
    </div>
    <div class="content">
        <div class="ui small header widgetImage-nome">#nome#</div>
        <div class="description">
            <div class="ui list">
                <div class="item widgetImage-data">
                    <i class="calendar alternate outline icon"></i>
                    #data#
                </div>
                <div class="item widgetImage-tipo">
                    <i class="info circle icon"></i>
                    #tipo#
                </div>
            </div>
            <div class="ui blue button _gestor-widgetImage-btn-add" data-tooltip="@[[widget-image-button-add-tooltip]]@"
                data-inverted="">@[[widget-image-button-add]]@</div>
            <div class="ui red button _gestor-widgetImage-btn-del" data-tooltip="@[[widget-image-button-del-tooltip]]@"
                data-inverted="">@[[widget-image-button-del]]@</div>
        </div>
    </div>
    <input type="hidden" value="#file-id#" name="#campo-nome#" class="_gestor-widgetImage-file-id">
    <input type="hidden" value="#file-caminho#" name="#campo-nome#-caminho" class="_gestor-widgetImage-file-caminho">
</div>