<div class="c2fc-pagina">
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
        <label class="c2fc-campo-rotulo">#tipo#</label>
        <div class="c2fc-campo">
            <div class="c2fc-chave checkbox radio" data-c2f-dica="Click to show Page type" data-position="top left"
                data-inverted="">
                <input type="radio" name="tipo" tabindex="1" value="pagina" #checked_pagina#><span class="c2fc-chave-trilho"></span>
                <label class="c2fc-campo-rotulo">#pagina#</label>
            </div>
        </div>
        <div class="c2fc-campo">
            <div class="c2fc-chave checkbox radio" data-c2f-dica="Click to show System type" data-position="top left"
                data-inverted="">
                <input type="radio" name="tipo" tabindex="2" value="sistema" #checked_sistema#><span class="c2fc-chave-trilho"></span>
                <label class="c2fc-campo-rotulo">#sistema#</label>
            </div>
        </div>
        <div class="c2fc-campo">
            <div class="c2fc-chave checkbox radio" data-c2f-dica="Click to show both" data-position="top left" data-inverted="">
                <input type="radio" name="tipo" value="ambos" tabindex="0" #checked_ambos#><span class="c2fc-chave-trilho"></span>
                <label class="c2fc-campo-rotulo">#ambos#</label>
            </div>
        </div>
    </div>
</div>