.texto1 {
	color: #096;
	font-weight: bold;
}
.texto2 {
	color: #C03;
	font-weight: bold;
}
.texto3 {
	color: #03F;
	font-weight: bold;
}

.texto4 {
	color: #009;
	font-weight: bold;
}

.ordenacao {
	text-align: center;
}
.caixa_texto1 {
	width: 780px;
	height: 600px;
}
