<!--!#del#(#!--><link href="../../includes/css/padrao2.css" rel="stylesheet" type="text/css" />
<link href="../../includes/css/interface.css" rel="stylesheet" type="text/css" />
<link href="css.css" rel="stylesheet" type="text/css" /><meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /><!--!#del#)#!--><hr />
<h2>Formul&aacute;rio</h2>
<hr />
<!-- form < -->
<form action="." method="post" name="form" id="form">
  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="principal">
    <tr>
      <td align="left" class="principal"><table width="100%" border="0" cellspacing="5" class="tabela_lista">
	  	<tr>
          <td width="150" align="left" class="lista_header">Op&ccedil;&atilde;o:</td>
          <td class="lista_cel"><a href="?arquivo_real=sim">
          	<img src="../../images/icons/arquivo-real.png" alt="Arquivo Real" width="40" height="40" border="0" title="Carregar Arquivo Real" />
          	</a>
			<a href="?arquivo_temp=sim">
				<img src="../../images/icons/arquivo-temporario.png" alt="Arquivo Tempor&aacute;rio" width="40" height="40" border="0" title="Carregar Arquivo Tempor&aacute;rio" />
			</a>
			<a href="?arquivo_original=sim">
				<img src="../../images/icons/arquivo-original.png" alt="Arquivo Original" width="40" height="40" border="0" title="Carregar Arquivo Original" />
			</a></td>
        </tr>
		<tr>
          <td align="left" class="lista_header">Arquivo Carregado:</td>
          <td class="lista_cel"><strong>#arquivo_carregado#</strong></td>
        </tr>
        <tr>
          <td align="left" class="lista_header">HTML:</td>
          <td class="lista_cel nao_mudar_cor"><textarea name="html" id="html" class="caixa_texto1">#html#</textarea>
		  <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("html"), {mode: "text/html", tabMode: "indent", lineNumbers: true, indentWithTabs:true, indentUnit:8, lineWrapping:true});
    </script>
		  </td>
        </tr>
        <tr>
          <td align="left" class="lista_header">CSS:</td>
          <td align="left" class="lista_cel nao_mudar_cor"><textarea name="css" id="css" class="caixa_texto1">#css#</textarea>
		  <script>
      var editor = CodeMirror.fromTextArea(document.getElementById("css"), {mode: "text/css", tabMode: "indent", lineNumbers: true, indentWithTabs:true, indentUnit:8});
    </script>
		  </td>
        </tr>
      </table>
        <!-- botao < --><table width="100%" border="0">
          <tr>
            <td align="center"><input type="hidden" name="MAX_FILE_SIZE" value="50000000" />
              <input name="opcao" type="hidden" id="opcao" value="#opcao" />
			  <input name="testar_flag" type="hidden" id="testar_flag" value="#testar_flag" />
              <input name="id" type="hidden" id="id" value="#id" />
			  <input type="submit" name="testar" id="testar" value="Testar" title="Clique nesse bot&atilde;o para GRAVAR as altera&ccedil;&otilde;es e TESTAR" />
              <input type="submit" name="salvar_temporario" id="salvar_temporario" value="Salvar Tempor&aacute;rio" title="Clique nesse bot&atilde;o para GRAVAR as altera&ccedil;&otilde;es e SALVAR TEMPORÁRIO" />
			  <input type="submit" name="publicar" id="publicar" value="Publicar" title="Clique nesse bot&atilde;o para GRAVAR as altera&ccedil;&otilde;es e PUBLICAR" /></td>
          </tr>
        </table><!-- botao > --></td>
    </tr>
  </table>
</form>
<div id="teste_area" style="width:1000px; height:700px;"><iframe src="#url_teste" style="margin-left:auto; margin-right:auto; width:950px; height:600px; display:block;"></iframe></div>
<!-- form > -->
<hr />
<h3>&nbsp;</h3>
