<div class="html-editor-seo">
    <div class="ui info message">
        <div class="header">@[[html-editor-seo-hint-title]]@</div>
        <p>@[[html-editor-seo-hint-text]]@</p>
    </div>
    <div class="field">
        <label>@[[html-editor-seo-og-title-label]]@</label>
        <input type="text" name="og_titulo" maxlength="255" class="c2f-seo-og-titulo"
            placeholder="@[[html-editor-seo-og-title-placeholder]]@" value="#og-titulo#">
    </div>
    <div class="field">
        <label>@[[html-editor-seo-og-description-label]]@</label>
        <textarea name="og_descricao" rows="3" class="c2f-seo-og-descricao"
            placeholder="@[[html-editor-seo-og-description-placeholder]]@">#og-descricao#</textarea>
    </div>
    <div class="field">
        <label>@[[html-editor-seo-featured-image-label]]@</label>
        <span>#imagepick-featured-image#</span>
    </div>
    <h4 class="ui dividing header">@[[html-editor-seo-search-header]]@</h4>
    <div class="field">
        <label>@[[html-editor-seo-meta-description-label]]@</label>
        <textarea name="meta_descricao" rows="3" class="c2f-seo-meta-descricao"
            placeholder="@[[html-editor-seo-meta-description-placeholder]]@">#meta-descricao#</textarea>
    </div>
    <div class="field">
        <label>@[[html-editor-seo-meta-keywords-label]]@</label>
        <input type="text" name="meta_keywords" maxlength="500" class="c2f-seo-meta-keywords"
            placeholder="@[[html-editor-seo-meta-keywords-placeholder]]@" value="#meta-keywords#">
    </div>
</div>
