<label class="ui tiny header">Backup: </label>
<div class="ui selection dropdown backupDropdown" data-id="#id-numerico#" data-campo="#campo#" data-campo-form="#campo_form#" data-callback="#callback#">
    <i class="dropdown icon"></i>
    <div class="default text">
    	<i class="#versao-atual-icon# icon"></i>
    	#versao-atual-label#
        <span class="description">#versao-atual-description#</span>
    </div>
    <div class="menu">
        <!-- item < --><div class="item" data-value="#id#">
        	<i class="#icon# icon"></i>
            #data#
            <span class="description">#versao#</span>
        </div><!-- item > -->
    </div>
</div>
<div class="ui hidden divider"></div>