<div class="ui stackable two column centered grid">
    <div class="column">
        <div class="ui segment">
            <div class="ui center aligned header large">@[[redefine-password-confirmation-title]]@</div>
            <div class="ui hidden divider">&nbsp;</div>
            <div class="ui icon green message">
                <i class="user check icon"></i>
                <div class="content">
                    <div class="header"> @[[redefine-password-confirmation-message-header]]@ </div>
                    <p>#message#</p>
                </div>
            </div>
            <div class="ui basic segment center aligned">
                <div class="">@[[forgot-password-login-label]]@ <a href="@[[pagina#url-raiz]]@signin/">@[[forgot-password-login-button]]@</a>
                </div>
                <div>@[[forgot-password-new-register-label]]@ <a href="@[[pagina#url-raiz]]@signup/">@[[forgot-password-new-register-button]]@</a>
                </div>
            </div>
        </div>
    </div>
</div>