<!-- string < --><input type="text" name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    value="#value-valor#" class="campo string" /><!-- string > -->
<!-- text < --><textarea name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    class="campo text">#value-valor#</textarea><!-- text > -->
<!-- number < --><input type="number" name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    value="#value-valor#" class="campo number" /><!-- number > -->
<!-- quantidade < --><input type="text" name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    value="#value-valor#" class="campo quantidade" /><!-- quantidade > -->
<!-- dinheiro < --><input type="text" name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    value="#value-valor#" class="campo dinheiro" /><!-- dinheiro > -->
<!-- bool < -->
<div class="ui toggle checkbox campo bool">
    <input type="checkbox" name="valor-#value-num#" value="1" checked>
    <label></label>
</div><!-- bool > -->
<!-- tinymce < --><textarea name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    class="campo tinymce">#value-valor#</textarea><!-- tinymce > -->
<!-- css < --><textarea name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    class="campo css">#value-valor#</textarea><!-- css > -->
<!-- js < --><textarea name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    class="campo js">#value-valor#</textarea><!-- js > -->
<!-- html < --><textarea name="valor-#value-num#" placeholder="@[[form-value-placeholder]]@"
    class="campo html">#value-valor#</textarea><!-- html > -->
<!-- datas-multiplas < -->
<div class="ui existing segment calendar-multiple campo datas-multiplas">
    <div class="ui calendar-dates"></div>
    <div class="ui calendar multiplo"></div>
    <input type="hidden" name="valor-#value-num#" value="#value-valor#" class="calendar-dates-input">
</div>
<!-- datas-multiplas > -->
<!-- data-hora < -->
<div class="ui calendar campo data-hora">
    <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" name="valor-#value-num#" placeholder="Date/Time" value="#value-valor#" class="calendarInput"
            autocomplete="off">
    </div>
</div>
<!-- data-hora > -->
<!-- data < -->
<div class="ui calendar campo data">
    <div class="ui input left icon">
        <i class="calendar icon"></i>
        <input type="text" name="valor-#value-num#" placeholder="Date" value="#value-valor#" class="calendarInput"
            autocomplete="off">
    </div>
</div>
<!-- data > -->