<div class="ui mini modal ai-prompt-save-modal">
    <i class="close icon"></i>
    <div class="header">
        Criar Novo Prompt
    </div>
    <div class="content">
        <form class="ui form ai-prompt-save-form">
            <div class="field">
                <label>Nome</label>
                <input type="text" name="prompt-nome" placeholder="Nome do prompt..." data-validate="name">
            </div>
        </form>
    </div>
    <div class=" actions">
        <div class="ui deny button">Cancelar</div>
        <div class="ui approve green button">Enviar</div>
    </div>
</div>
<div class="ui mini modal confirm ai-prompt-del-modal">
    <div class="ui header">Remover Prompt</div>
    <div class="content">
        <p>Tem certeza que deseja remover este prompt?</p>
    </div>
    <div class="actions">
        <div class="ui deny button">
            Cancelar
        </div>
        <div class="ui approve right labeled icon button red">
            Confirmar
            <i class="share icon"></i>
        </div>
    </div>
</div>