#layout {

}
#powered_by {
	margin-top: 10px;
	margin-right: 10px;
	text-align: right;
}
#buscar {
	width: 239px;
	bottom: 30px;
	position: relative;
}
#buscar_botao {
	position: absolute;
	right: 34px;
	width: 28px;
	height: 21px;
	display: block;
	top: 49px;
}

#buscar_pesquisa {
	position: absolute;
	top: 52px;
	width: 160px;
	left: 8px;
}
#emarkenting {
	height: 90px;
	width: 209px;
	position: absolute;
	top: 159px;
	left: 1px;
}
#emarkenting_nome {
	position: absolute;
	top: 7px;
	left: 56px;
	width: 144px;
}
#emarkenting_email {
	position: absolute;
	top: 38px;
	left: 56px;
	width: 144px;
}
#emarkenting_botao {
	position: absolute;
	right: 4px;
	width: 28px;
	height: 23px;
	display: block;
	top: 60px;
}
.nav-cycle{
	position:relative;
	float:right;
	margin-top:-22px;
	margin-right:0px;
	z-index:1000;
}
.nav-cycle a{
	float:left;
	display:block;
	width:22px;
	height:21px;
	background-color:#85C226;
	text-align:center;
	padding-top:1px;
	margin-right:5px;
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:10pt;
	font-weight:bold;
	color:#FFF;
	filter:alpha(opacity=0.80); 
	-moz-opacity: 0.80; 
	opacity: 0.80; 
}
.nav-left {
	background-image: url(../../images/icons/seta-esq.png);
	height: 40px;
	width: 28px;
	z-index: 1001;
	position: relative;
	float:left;
}
.nav-right {
	background-image: url(../../images/icons/seta-dir.png);
	height: 40px;
	width: 28px;
	z-index: 1001;
	position: relative;
	float:left;
}
.input-contato {
	margin: 0px;
	padding: 0px;
	height: 15px;
	font-size: 7.5pt;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background:transparent;
	position: absolute;
	display: block;
}
#form_contato {
	width: 355px;
}
#form_contato #contato_nome {
	height: 15px;
	width: 340px;
	margin-bottom:7px;
	padding:2px;
}
#form_contato #contato_email {
	height: 15px;
	width: 340px;
	margin-bottom:7px;
	padding:2px;
}
#form_contato #contato_mensagem {
	height: 90px;
	width: 340px;
	margin-bottom:7px;
}
#form_contato #contato_botao {
	color: #FFF;
	background-color:#333;
	float:right;
	margin-right:9px;
}
#form_usuario {
	display:block;
	width: auto;
}
#form_usuario label  {
	display: block;
	width: 150px;
	padding-right: 5px;
	text-align: right;
	padding-top: 2px;
	float: left;
	margin-top: 3px;
	height: 17px;
}
#form_usuario input{
	display:block;
	float: left;
	height: 13px;
	width: 204px;
	margin-top: 3px;
}
#form_usuario #recaptcha_div {
	margin-left: 152px;
}
#form_usuario .inbox {
	margin-left: 155px;
}
#form_usuario .hidden {
	display: none;
	width: auto;
}
#form_usuario .cont-mensagem {
	display:block;
	margin-top: 3px;
	margin-left: 5px;
	height: 17px;
	float: left;
	padding: 2px 5px 0px 5px;
	width: auto;
}
#form_usuario #cadastro-botao {
	height: 23px;
	width: 70px;
	font-size:12px;
	text-align: center;
	padding-top: 3px;
	float: left;
	margin-top: 5px;
	margin-left: 155px;
}
#menu-secundario {
	margin-left: 3px;
	margin-top: 0px;
	margin-right:3px;
	overflow: hidden;
	float: left;
	height: auto;
	margin-bottom: 0px;
	width: 1000px;
	display: none;
}
#menu-secundario-mask{
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 3px;
}
.menu_coluna{
	width:160px;
	padding:7px 10px;
	float:left;
	display:block;
	list-style:none;
	margin:0px;
}
.menu_coluna li h2,.menu_coluna li h3{
	margin:0px;
}
.menu_coluna_barra{
	border-right:solid 2px #FFF;
}
.menu_div {
	display:none;
}
.menu_div ul{
	padding:0px;
	list-style:none;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.menu_div ul li{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 15px;
	float:left;
	line-height: 10px;
}
.menu_div ul li:last-child{
	border-right-style: none;
}
.menu_div ul li a{
	font-size: 12px;
	color:#000000;
	font-weight:normal;
}
.menu_div ul li a:hover {
	color:#CCCCCC;
	text-decoration:none;
}
.comentarios-titulo{
	font-size:18px;
	font-weight:bold;
	color:#333;
	margin:10px 0px;
}
.comentarios-cont{
	background-image: url(../../images/icons/avatar.png);
	background-repeat: no-repeat;
	background-position: left top;
}
.comentarios-texto{
	margin-left:42px;
}
.comentarios-autor{
	font-weight: bold;
	font-style: italic;
	font-size: 16px;
	color:#000;
}
.comentarios-data{
	color:#999;
	margin:10px 0px;
}
.comentarios-responder{
	margin:10px 0px;
}
.comentarios-hr{
	margin-top: 10px;
	margin-bottom: 10px;
	border-top: 1px #FFF solid;
	border-left: none;
	border-right: none;
	border-bottom: none;
}
.comentario-form-titulo{
	font-size:18px;
	font-weight:bold;
	color:#333;
	margin:10px 0px;
}
.comentario-form-info{
	margin:10px 0px;
}
#form_comentarios label{
	display:block;
}
#form_comentarios input[type="text"]{
	display:block;
	width:400px;
}
#form_comentarios textarea{
	display:block;
	width:400px;
	height:100px;
	margin-bottom:10px;
	float:none;
}
#form_comentarios #comentario-form-botao{
	margin:10px 0px;
}
#comentario-cancelar{
	display:none;
	color:#069;
	font-weight:normal;
	font-size:12px;
}
#comentario-cancelar:hover{
	cursor:pointer;
	text-decoration:underline;
}
._servico-img{
	float:left;
	margin:0px 10px 10px 0px;
}
._servico-tit{
	font-weight:bold;
}
._servico-valtxt{
	font-weight:bold;
	color:#0083ca;
	font-size:20px;
	line-height:20px;
}
._servico-valtxt2{
	font-weight:bold;
	color:#77c1e4;
	font-size:14px;
}
._servico-valtxt3{
	font-weight:bold;
	color:#0083ca;
	font-size:20px;
	line-height:20px;
}
._servico-valtxt4{
	font-weight:bold;
	color:#77c1e4;
	font-size:12px;
}
._loja-online-cont{
	float:left;
	margin:10px 13px;
	width:213px;
}
._loja-online-valtxt{
	font-weight:bold;
	color:#0083ca;
	font-size:16px;
	line-height:16px;
}
._loja-online-valtxt2{
	font-weight:normal;
	color:#77c1e4;
	font-size:12px;
}
._loja-online-valtxt3{
	font-weight:bold;
	color:#0083ca;
	font-size:18px;
	line-height:18px;
}
._loja-online-valtxt4{
	font-weight:bold;
	color:#77c1e4;
	font-size:16px;
	line-height:16px;
}
._loja-online-img img{
	width:213px;
}
._loja-online-titulo{
	color:#000;
	font-size:13px;
	margin:10px 0px;
	text-align:center;
	display:block;
	font-size:16px;
	line-height:16px;
}
._loja-online-preco{
	text-align:center;
	color:#000;
}
._servico-cont-int{
	float:left;
	background-color:#F7F7F7;
	border:solid 1px #E6E6E6;
	min-width:473px;
	position:relative;
}
._servico-quant{
	padding:5px 10px 10px 10px;
}
._servico-preco{
	padding:10px;
	border-top:solid 1px #E6E6E6;
}
._servico-botao{
	cursor:pointer;
	float:right;
	margin:10px 290px 15px 0px !important;
	padding:9px 15px 8px 15px !important;
	line-height:15px;
	font-size:15px;
	color:#FFF;
	background-color:#AD0000;
	background-image:url(../../images/icons/ico-bot-comprar.png);
	background-repeat:no-repeat;
	background-position:115px center;
	width:120px;
}
._servico-quant-lbl{
	display:block;
	float:left;
	margin:3px 0px 0px 5px;
	height:32px;
	width:75px;
}
._servico-quant-inp{
	float:left;
	background-color:#FFF;
	width:20px;
}
._servico-barra{
	height:1px;
	border-bottom:1px solid #CCC;
	margin:20px;
}
._servico-span{
	color:#6C6D71;
	font-size:7px;
	line-height:6px;
	font-weight:normal;
}
._servico-como-comprar{
	background-image:url(../../images/icons/ico-como-comprar.png);
	padding-left:30px;
	padding-top:4px;
	background-position:7px center;
	background-repeat:no-repeat;
	border-left:solid 1px #E3E4E5;
	position:absolute;
	top:7px;
	left:230px;
	display:block;
	font-family: Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:9px;
	color:#17619B;
	height:20px;
}
._servico-indique{
	background-image:url(../../images/icons/ico-indique.png);
	padding-left:37px;
	padding-top:4px;
	background-position:7px center;
	background-repeat:no-repeat;
	border-left:solid 1px #E3E4E5;
	position:absolute;
	top:7px;
	left:350px;
	display:block;
	font-family: Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:9px;
	color:#17619B;
	height:20px;
}
._servico-perguntas{
	background-image:url(../../images/icons/ico-perguntas-frequentes.png);
	padding-left:30px;
	padding-top:4px;
	background-position:7px center;
	background-repeat:no-repeat;
	border-left:solid 1px #E3E4E5;
	position:absolute;
	top:47px;
	left:230px;
	display:block;
	font-family: Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:9px;
	color:#17619B;
	height:20px;
}
._servico-duvidas{
	background-image:url(../../images/icons/ico-duvidas.png);
	padding-left:37px;
	padding-top:4px;
	background-position:7px center;
	background-repeat:no-repeat;
	border-left:solid 1px #E3E4E5;
	position:absolute;
	top:47px;
	left:350px;
	display:block;
	font-family: Arial, Gotham, "Helvetica Neue", Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	line-height:9px;
	color:#17619B;
	height:20px;
}
#_duvidas-form{
	display:block;
	width:390px;
	padding:0px 15px;
}
#_duvidas-form label{
	float:left;
	display:block;
	width:110px;
	text-align:right;
	padding-right:5px;
	padding-top:7px;
	margin-bottom:10px;
}
#_duvidas-form ._duvidas-input{
	float:left;
	display:block;
	width:250px;
	margin-bottom:10px;
}
#_duvidas-form textarea._duvidas-input{
	height:80px;
}
#_duvidas-enviar{
	display:block;
	margin:10px auto;
}
#_duvidas-conteiner{
	background-color:#FFF;
	padding:1px 0px;
}
#_indique-form{
	display:block;
	width:390px;
	padding:0px 15px;
}
#_indique-form label{
	float:left;
	display:block;
	width:110px;
	text-align:right;
	padding-right:5px;
	padding-top:7px;
	margin-bottom:10px;
}
#_indique-form ._indique-input{
	float:left;
	display:block;
	width:250px;
	margin-bottom:10px;
}
#_indique-form textarea._indique-input{
	height:80px;
}
#_indique-enviar{
	display:block;
	margin:10px auto;
}
#_indique-conteiner,#_como-comprar-conteiner,#_perguntas-frequentes-conteiner{
	background-color:#FFF;
	padding:1px 0px;
}