<div class="ui grid menuMode">
    <div class="eight wide column">
        <div class="field">
            <label>Page Content:</label>
            <select class="ui dropdown ai-prompt-page-select">
                #select-prompt-page#
            </select>
        </div>
    </div>
    <div class="eight wide column">
        <div class="field">
            <label>Opções:</label>
            <div>
                <div class="ui button disabled ai-prompt-clear"><i class="clipboard icon"></i>Limpar</div>
                <div class="ui button blue disabled ai-prompt-edit"><i class="edit icon"></i>Salvar Atual
                </div>
                <div class="ui button red disabled ai-prompt-del"><i class="edit icon"></i>Excluir Atual
                </div>
                <div class="ui button green disabled ai-prompt-new"><i class="clone icon"></i>Criar Novo
                </div>
            </div>
        </div>
    </div>
</div>