<!DOCTYPE html>
<html>
<head>
    <!-- pagina#titulo -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- pagina#css -->
    <!-- pagina#js -->
    <script defer src="@[[pagina#url-raiz]]@vendor/lucide/0.544.0/lucide.min.js"></script>
    <script defer src="@[[pagina#url-raiz]]@global/admin-tailwind.js?v=@[[gestor#versao]]@"></script>
</head>
<body style="margin:0;padding:16px;background:#f8fafc;">
    @[[pagina#corpo]]@
</body>
</html>
