<!DOCTYPE html>
<html>

<head>
    <!-- pagina#titulo -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="@[[pagina#url-raiz]]@favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="@[[pagina#url-raiz]]@favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="@[[pagina#url-raiz]]@favicon/favicon-16x16.png">
    <link rel="manifest" href="@[[pagina#url-raiz]]@favicon/site.webmanifest">
    <!-- pagina#css -->
    <!-- pagina#js -->
</head>

<body onload="window.print()">
    @[[pagina#corpo]]@
</body>

</html>