<div class="ui icon message visible warning">
    <i class="server icon"></i>
    <div class="content">
        <div class="header">
            Nenhum Servidor de IA Disponível
        </div>
        <p>Para utilizar os recursos de Inteligência Artificial, é necessário configurar uma conexão com um servidor de IA.</p>
        <div class="ui buttons">
            <a class="ui button brown" href="@[[pagina#url-raiz]]@admin-ia/adicionar/">
                <i class="plus icon"></i>
                Nova Conexão
            </a>
            <a class="ui button basic" href="@[[pagina#url-raiz]]@admin-ia/listar/">
                <i class="list icon"></i>
                Gerenciar Servidores
            </a>
        </div>
    </div>
</div>
