<!DOCTYPE html>
<html>
    <head>
        <!-- pagina#titulo -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- pagina#css -->
        <!-- pagina#js -->
    </head>
    <body>
        <!--Header-->
        <div class="desktopcode">
            <div class="ui padded grid colunatop">
                <div class="column"></div>
                <div class="fourteen wide column">
					<div class="ui padded grid">
                        <div class="three wide column">
                            <div class="logo">
                                <a href="#">
                                    <img src="https://beta.entrey.com.br/images/logo-principal.png" class="logo-imagem"> 
                                </a>
                            </div>
                        </div>
                        <div class="thirteen wide column"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mobilecode">
            <div class="ui padded grid colunatop">
                <div class="column"></div>
                <div class="fourteen wide column">
					<div class="ui padded grid">
                        <div class="three wide column">
                            <div class="logo">
                                <a href="#">
                                    <img src="https://beta.entrey.com.br/images/logo-principal.png" class="logo-imagem"> 
                                </a>
                            </div>
                        </div>
                        <div class="thirteen wide column"></div>
                    </div>
                </div>
            </div>
        </div>
        @[[pagina#corpo]]@
        <!--Footer-->
        
    </body>
</html>