<div class="ui stackable two column centered grid">
    <div class="column">
        <div class="ui segment">
            <form id="_gestor-host-config-forgot-password" action="@[[pagina#url-raiz]]@host-config-forgot-password/" method="post" name="_gestor-host-config-forgot-password" class="ui form interfaceFormPadrao">
                <div class="ui center aligned header large">@[[host-config-forgot-password-title]]@</div>
                <div class="ui message">
                    <div class="header">@[[host-config-forgot-password-msg-title]]@</div>
                    <p>@[[host-config-forgot-password-msg-content]]@</p>
                </div>
                <div class="ui hidden divider">&nbsp;</div>
                <div class="ui error message">&nbsp;</div>
                <div class="field">
                    <button class="fluid ui button blue">@[[host-config-forgot-password-button-label]]@</button>
                </div>
                <input id="forgot-password" name="forgot-password" type="hidden" value="1">
            </form>
        </div>
    </div>
</div>