.excluir {
    position: absolute;
    left: -17px;
    top: 10px;
    background-color:#FFF;
    cursor:pointer;
}
.segment > .button {
    margin-bottom: 0.75em;
}
.quantidade{
    width:40px;
    text-align:center;
    float:right;
}