<div class="ui mini modal ai-prompt-save-modal">
    <i class="close icon"></i>
    <div class="header">
        Create New Prompt
    </div>
    <div class="content">
        <form class="ui form ai-prompt-save-form">
            <div class="field">
                <label>Name</label>
                <input type="text" name="prompt-nome" placeholder="Prompt name..." data-validate="name">
            </div>
        </form>
    </div>
    <div class=" actions">
        <div class="ui deny button">Cancel</div>
        <div class="ui approve green button">Send</div>
    </div>
</div>
<div class="ui mini modal confirm ai-prompt-del-modal">
    <div class="ui header">Remove Prompt</div>
    <div class="content">
        <p>Are you sure you want to remove this prompt?</p>
    </div>
    <div class="actions">
        <div class="ui deny button">
            Cancel
        </div>
        <div class="ui approve right labeled icon button red">
            Confirm
            <i class="share icon"></i>
        </div>
    </div>
</div>