<div class="ui grid menuMode page-modification-wrapper">
    <div class="six wide column">
        <div class="field">
            <label>Page Modification Target:</label>
            <select class="ui dropdown page-modification-target-select">
                #select-modification-page#
            </select>
        </div>
    </div>
    <div class="six wide column hidden page-modification-container">
        <div class="field">
            <label>Target Section:</label>
            <select class="ui dropdown page-modification-section-select">

            </select>
        </div>
    </div>
    <div class="four wide column hidden page-modification-container">
        <div class="grouped fields">
            <label>Section Option</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="new-before">
                    <label>Add New Before</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="target" checked="checked">
                    <label>Change Target Section</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="new-after">
                    <label>Add New After</label>
                </div>
            </div>
        </div>
        <div class="ui tiny button red page-modification-section-delete" style="margin-bottom:10px;"
            data-tooltip="Click to delete the target section" data-position="top left" data-inverted="">
            Delete Target Section
        </div>
    </div>
</div>