.hover-serviços:hover {
    background-color: lightblue;
}
.espaco-entre-elementos {
    height: 80px;
}
.imagemph{
    min-width: 180px;
    max-width: 250px;
    height: 250px;
}
@media screen and (max-width: 770px) {
    .desktopcode {
        display: none;
    }
}
@media screen and (min-width: 770px) {
    .mobilecode {
        display: none;
    }
}