<h1 class="ui header">#titulo#</h1>
<!-- botoes < -->
<div class="ui basic right aligned segment">
    #botoes#
</div><!-- botoes > -->
<!-- meta-dados < -->
<table class="ui celled table">
    <thead>
        <tr>
            <!-- cel-th < -->
            <th>#meta-titulo#</th>
            <!-- cel-th > -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <!-- cel-td < -->
            <td>#meta-dado#</td>
            <!-- cel-td > -->
        </tr>
    </tbody>
</table><!-- meta-dados > -->
<div id="_gestor-interface-visualizar-dados">#page#</div>
<!-- historico < -->
<table class="ui celled table">
    <thead>
        <tr>
            <th>Change History</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#historico#</td>
        </tr>
    </tbody>
</table><!-- historico > -->