<table class="ui definition table">
    <thead>
        <tr>
            <th></th>
            <th>Dados do Pagador</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Nome</td>
            <td>#pagador-nome#</td>
        </tr>
        <tr>
        </tr>
        <tr>
            <td>Email</td>
            <td>#pagador-email#</td>
        </tr>
        <tr>
            <td>Telefone</td>
            <td>#pagador-telefone#</td>
        </tr>
        <tr>
            <td>CPF</td>
            <td>#pagador-cpf#</td>
        </tr>
        <tr>
            <td>CNPJ</td>
            <td>#pagador-cnpj#</td>
        </tr>
    </tbody>
</table>