.dt-head-center {
    text-align: center !important;
}
.table-responsive-fix{
    overflow:hidden;
}
.segment > .button {
    margin-bottom: 0.75em;
}
#_gestor-interface-listar{
	margin-bottom: 1em;
}
@media screen and (max-width: 1024px) and (min-width: 771px) {
    #_gestor-interface-lista-tabela_wrapper{
        width: calc(100% - 60px);
        margin-left: 30px;
    }
}