<div class="ui basic modal configurando">
    <div class="ui icon large header">
        <i class="circular inverted teal cloud download alternate icon"></i>
        Hospedeiro Configuração
    </div>
    <div class="ui tiny center aligned header">Estamos configurando o hospedeiro do seu site e atualizando a plataforma do seu cliente para a última versão. Este processo leva poucos segundos.</div>
    <div class="ui active centered inline slow large loader"></div>
    <div class="ui center aligned header">Configurando... Aguarde!</div>
</div>