.CodeMirror{
    border: 1px solid #ccc;
}
.hidden{
    display: none !important;
}
.publisher-fields-header{
    margin-top: 10px !important;
}
.quill-drop-html{
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.quill-drop-html .ql-editor{
    border: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}
.ql-editor {
    font-family: Lato, system-ui, -apple-system, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 16px !important; /* Tamanho da fonte */
    line-height: 1.5 !important; /* Espaçamento entre linhas */
    color: rgba(0, 0, 0, 0.8);
    min-height: 100px;
    max-height: 500px;
    overflow-y: auto;
}
.ql-editor.fullscreen {
    position: fixed !important;
    top: 40px !important;
    left: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100vw !important;
    height: calc(100vh - 40px) !important;
    z-index: 9999 !important;
    background: white !important;
    max-height: calc(100vh - 40px) !important;
}
.ql-toolbar.fullscreen {
    position: fixed !important;
    top: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 100vw !important;
    height: 40px !important;
    z-index: 10000 !important;
    background: white !important;
}
.ql-toolbar .ql-custom-fullscreen::before {
    content: '⛶'; /* Ícone de tela cheia */
}
.ql-toolbar.fullscreen .ql-custom-fullscreen::before {
    content: '✖'; /* Ícone de tela cheia */
}
.ql-toolbar .ql-custom-fullscreen {
    width: 40px;
    height: 40px;
    font-weight: bold;
}