<h1 class="ui header">#titulo#</h1>
<!-- botoes < -->
<div class="ui basic right aligned segment">
    #botoes#
</div><!-- botoes > -->
<form id="#form-id#" action="#form-action#" method="post" name="#form-name#" class="ui form interfaceFormPadrao">
    <div id="_gestor-interface-config-dados">#form-page#</div>
    <input id="_gestor-atualizar" name="_gestor-atualizar" type="hidden" value="1">
    <div class="ui error message"></div>
    <!-- botao-editar < -->
    <div class="ui center aligned basic segment">
        <button id="_gestor-interface-edit-button" data-tooltip="#form-button-title#" data-position="top center"
            data-inverted="" class="positive ui button">#form-button-value#</button>
    </div><!-- botao-editar > -->
</form>
<!-- historico < -->
<table class="ui celled table">
    <thead>
        <tr>
            <th>Change History</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#historico#</td>
        </tr>
    </tbody>
</table><!-- historico > -->