<div class="ui grid menuMode page-modification-wrapper">
    <div class="six wide column">
        <div class="field">
            <label>Alvo da Modificação da Página:</label>
            <select class="ui dropdown page-modification-target-select">
                #select-modification-page#
            </select>
        </div>
    </div>
    <div class="six wide column hidden page-modification-container">
        <div class="field">
            <label>Sessão Alvo:</label>
            <select class="ui dropdown page-modification-section-select">

            </select>
        </div>
    </div>
    <div class="four wide column hidden page-modification-container">
        <div class="grouped fields">
            <label>Sessão Opção</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="new-before">
                    <label>Adicionar Nova Antes</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="target" checked="checked">
                    <label>Alterar Sessão Alvo</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="new-after">
                    <label>Adicionar Nova Depois</label>
                </div>
            </div>
        </div>
        <div class="ui tiny button red page-modification-section-delete" style="margin-bottom:10px;"
            data-tooltip="Clique para deletar a sessão alvo" data-position="top left" data-inverted="">
            Deletar Sessão Alvo
        </div>
    </div>
</div>