<div class="ui grid menuMode page-modification-wrapper">
    <div class="six wide column">
        <div class="field">
            <label>Alvo da Modificação da Página:</label>
            <select class="ui dropdown page-modification-target-select">
                #select-modification-page#
            </select>
        </div>
    </div>
    <div class="six wide column hidden page-modification-container">
        <div class="field">
            <label>Sessão Alvo:</label>
            <select class="ui dropdown page-modification-section-select">

            </select>
        </div>
    </div>
    <div class="four wide column hidden page-modification-container">
        <div class="grouped fields">
            <label>Sessão Opção</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="new-before">
                    <label>Adicionar Nova Antes</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="target" checked="checked">
                    <label>Alterar Sessão Alvo</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="page-modification-section-option" value="new-after">
                    <label>Adicionar Nova Depois</label>
                </div>
            </div>
        </div>
        <div class="ui tiny button icon page-modification-section-rename" style="margin-bottom:10px;"
            data-tooltip="Clique para renomear a sessão alvo" data-position="top center" data-inverted="">
            <i class="edit icon"></i>
        </div>
        <div class="ui tiny button icon red page-modification-section-delete" style="margin-bottom:10px;"
            data-tooltip="Clique para deletar a sessão alvo" data-position="top right" data-inverted="">
            <i class="trash icon"></i>
        </div>
    </div>
</div>
<div class="page-modification-section-modal page-modification-wrapper">
    <div class="ui tiny modal page-modification-rename-modal">
        <div class="header">Renomear Sessão</div>
        <div class="content">
            <div class="ui form">
                <div class="field">
                    <label>Novo Nome:</label>
                    <input type="text" name="new-session-name" placeholder="Digite o novo nome da sessão">
                </div>
            </div>
        </div>
        <div class="actions">
            <div class="ui cancel button">Cancelar</div>
            <div class="ui approve primary button">Salvar</div>
        </div>
    </div>
</div>
<!-- publisher < -->
<div class="publisher hidden page-modification-publisher page-modification-wrapper">
    <div class="field">
        <label>Variáveis do Publisher:</label>
        <div class="ui labels">
            <div class="ui teal label">
                #name#
                <div class="detail">#type#</div>
                <i class="delete icon" data-index="#index#"></i>
            </div>
        </div>
    </div>
</div><!-- publisher > -->