<!-- publisher-no-link < -->
<div class="ui icon message visible info">
    <i class="info circle icon"></i>
    <div class="content">
        <div class="header">
            Nenhum Publisher Vinculado
        </div>
        <p>Este registro não está vinculado a nenhum publisher. Vincule-o através do módulo Publisher para ver
            as
            variáveis disponíveis.</p>
    </div>
</div>
<!-- publisher-no-link > -->

<!-- publisher-has-link < -->
<div class="ui icon message visible positive hep-all-found-msg hep-initially-hidden">
    <i class="check circle icon"></i>
    <div class="content">
        <div class="header">Todas as Variáveis Detectadas</div>
        <p>Todas as variáveis do Publisher foram encontradas no template.</p>
    </div>
</div>

<div class="ui icon message visible warning hep-some-missing-msg hep-initially-hidden">
    <i class="exclamation triangle icon"></i>
    <div class="content">
        <div class="header">Variáveis Não Encontradas</div>
        <p>Algumas variáveis do Publisher não foram encontradas no template.</p>
        <div class="ui buttons">
            <div class="ui button green" id="add-all-variables-skeleton"
                data-tooltip="Clique para Incluir todas as variáveis no Template usando Skeleton (modelos prontos)"
                data-position="top left" data-inverted="">
                <i class="plus icon"></i>
                Incluir Todas (Skeleton)
            </div>
            <div class="ui button blue" id="add-all-variables-ai"
                data-tooltip="Clique para Gerar todas as variáveis no Template usando Assistente de IA"
                data-position="top left" data-inverted="">
                <i class="magic icon"></i>
                Gerar com IA
            </div>
        </div>
    </div>
</div>

<div class="ui icon message visible negative hep-all-missing-msg hep-initially-hidden">
    <i class="exclamation triangle icon"></i>
    <div class="content">
        <div class="header">Nenhuma Variável Encontrada</div>
        <p>Nenhuma variável do Publisher foi encontrada nem no template. Defina as variáveis primeiramente no Publisher
            para que possam ser utilizadas no template. Ou escolha um template diferente.</p>
    </div>
</div>

<div class="ui button icon red remove-all-variables hep-initially-hidden"
    data-tooltip="Remover Todas Variáveis do Template" data-position="top left" data-inverted="">
    <i class="trash icon"></i>
</div>

<div class="ui dropdown icon button basic teal publisher-design-mode-variables"
    data-tooltip="Alterar o Estilo de Inserção de Skeletons" data-position="top left" data-inverted="">
    <i class="paint brush icon"></i>
    <div class="text" style="display: none;">Sofisticado</div>
    <div class="menu">
        <div class="header">Estilo de Inserção</div>
        <div class="item active selected" data-value="sophisticated">Sofisticado</div>
        <div class="item" data-value="simple">Simples</div>
    </div>
</div>

<table class="ui celled striped table hep-variables-table hep-initially-hidden">
    <thead>
        <tr>
            <th>Variável</th>
            <th>Label</th>
            <th>Tipo</th>
            <th class="center aligned">Encontrado</th>
            <th class="center aligned">Opções</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div class="ui label teal copy-to-clipboard" style="cursor: pointer;"
                    data-tooltip="Clique para copiar esta variável" data-position="top left" data-inverted="">
                    [[publisher&#35;#val-type#&#35;#val-id#]]
                </div>
            </td>
            <td>
                <strong>#val-label#</strong>
            </td>
            <td>
                <div class="ui basic label">#val-type#</div>
            </td>
            <td class="center aligned">
                <i class="green check circle icon hep-val-found-check hep-initially-hidden"></i>
                <i class="red times circle icon hep-val-found-times hep-initially-hidden"></i>
            </td>
            <td class="center aligned">
                <div class="ui buttons mini hep-val-options-buttons hep-initially-hidden">
                    <div class="ui button green add-variable-skeleton" data-type="#val-type#" data-id="#val-id#"
                        data-tooltip="Clique para Adicionar esta variável no Template usando Skeleton (modelos prontos)"
                        data-position="top right" data-inverted="">
                        <i class="plus icon"></i>
                    </div>
                    <div class="ui button blue add-variable-ai" data-type="#val-type#" data-id="#val-id#"
                        data-tooltip="Clique para Adicionar esta variável no Template usando Assistente de IA"
                        data-position="top right" data-inverted="">
                        <i class="magic icon"></i>
                    </div>
                </div>
                <div class="ui button icon red remove-variable-skeleton hep-val-options-ok hep-initially-hidden"
                    data-type="#val-type#" data-id="#val-id#" data-tooltip="Remover esta Variável do Template"
                    data-position="top right" data-inverted="">
                    <i class="trash icon"></i>
                </div>
            </td>
        </tr>
    </tbody>
</table>
<!-- publisher-has-link > -->