    <div class="ui padded grid">
        <div class="column"></div>
        <div class="eight wide column">
            <div class="row">
                <div class="ui segment">
                    <div class="ui sixteen wide columns grid">
                        <div class="three wide column">
                            <div class="row">
                                <div class="ui placeholder">
                                    <div class="image"></div>
                                </div>
                            </div>
                        </div>
                        <div class="thirteen wide centered column">
                            <div class="row">
                                <div class="ui two column very relaxed grid">
                                    <div class="column">
                                        <h3 class="ui header">
                                            Quiropraxia para Pequenos Animais
                                        </h3>
                                    </div>
                                    <div class="right aligned column">
                                        <button class="ui icon button">
                                            <i class="black pen icon"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ui sixteen wide columns grid">
                    <div class="eight wide column">
                        <div class="row">
                            <button class="ui fluid button">
                                Uso Próprio
                            </button>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <div class="row">
                            <button class="ui fluid button">
                                Para terceiros
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="six wide column">
            <div class="row">
                <div class="ui segment">
                    <select class="ui fluid search dropdown">
                        <option value="">Resumo do Pedidos</option>
                    </select>
                    <div class="ui divider"></div>
                    <div class="ui sixteen wide columns grid">
                        <div class="row">
                            <div class="two column">
                                <i class="big black file alternate icon"></i>
                            </div>
                            <div class="fourteen wide column">
                                <h5>1x Curso de Extensão de Odontologia Integrativa - VALOR ATÉ DIA 05/02</h5>
                                <h3>Subtotal: R$200,00</h3>
                            </div>
                        </div>
                    </div>

                    <div class="ui divider"></div>
                    <h5> Subtotal: R$1.850,00</h5>
                    <h5> Desconto: R$200,00</h5>
                    <div class="ui divider"></div>
                    <h3> Total: R$1.650,00</h3>
                    <div class="ui divider"></div>
                    <button class="fluid ui button">Prosseguir para identificação</button>
                </div>
            </div>
        </div>
        <div class="column"></div>
    </div>