#banner-cont,#menu-inicial-cont{
    position:relative;
}
#menu-inicial{
    position:absolute;
    top:-80px;
    left:300px;
}
#banner-image {
    background: url(/images/pagina-inicial-banner.png?v=1);
    background-position: left top;
    background-size: cover;
    height: 350px;
    width: 100%;
}
#banner-acao-btn{
    position:absolute;
    right:30px;
    top:270px;
}
#data-e-local{
    background-color:#dddada;
}
#ingressos{
    background-color:#dddada;
}
@media screen and (max-width: 768px) {
    #banner-image {
        height: 300px;
    }
    #banner-acao-btn{
        top:220px;
    }
    #menu-inicial{
        position: relative;
        top:auto;
        left:auto;
    }
    #menu-inicial-cont-pai{
        background-color:#dddada;
    }
}
@media screen and (min-width: 769px) and (max-width: 991px) {
    #menu-inicial{
        left:170px;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    #menu-inicial{
        left:250px;
    }
}