.t {
    border-left: 1px solid lightgrey;
    height: 300px;
    position: absolute;
    left: 601px;
    margin-left: 3px;
    top: 0;
}
.barraLateral {
    border-right: 1px solid lightgrey;
}
@media screen and (max-width: 770px) {
    .barraLateral {
        border-right: none;
    }
}
@media screen and (max-width: 770px) {
    .desktopcode {
        display: none;
    }
}
@media screen and (min-width: 770px) {
    .mobilecode {
        display: none;
    }
}