<div class="c2f-lousa" data-c2f-lousa data-mode="#modo#" data-lucide-url="#lucide#">
<!-- item < --><div class="c2f-lousa-item#classes#" data-w="#w#" data-h="#h#" data-x="#x#" data-y="#y#" data-hide="#esconder#" data-tone="#tom#" style="#estilo#"><!-- titulo < --><div class="c2f-lousa-titulo" style="#titulo-estilo#">#titulo#</div><!-- titulo > --><div class="c2f-lousa-corpo" data-padding="#recuo#">#conteudo#</div></div><!-- item > -->
</div>
<!-- objetos < -->
<!-- objeto-texto < --><div class="c2f-lousa-objeto c2f-lousa-texto" style="#estilo#">#texto#</div><!-- objeto-texto > -->
<!-- objeto-forma < --><div class="c2f-lousa-objeto"><div class="c2f-lousa-figura" data-shape="#forma#" style="#estilo#"></div></div><!-- objeto-forma > -->
<!-- objeto-imagem < --><div class="c2f-lousa-objeto c2f-lousa-imagem"><img src="#src#" alt="#alt#" loading="lazy" style="#estilo#"></div><!-- objeto-imagem > -->
<!-- objeto-icone < --><div class="c2f-lousa-objeto c2f-lousa-icone" style="#estilo#"><i data-lucide="#icone#"></i></div><!-- objeto-icone > -->
<!-- objeto-botao < --><div class="c2f-lousa-objeto"><a class="c2f-lousa-acao" href="#href#" target="#alvo#" rel="#rel#" style="#estilo#">#texto#</a></div><!-- objeto-botao > -->
<!-- objeto-rotulo < --><div class="c2f-lousa-objeto"><span class="c2f-lousa-acao" style="#estilo#">#texto#</span></div><!-- objeto-rotulo > -->
<!-- objetos > -->
