<div class="ui stackable two column centered grid">
    <div class="column">
        <div class="ui segment">
            <div class="ui center aligned header large">@[[host-config-forgot-password-confirmation-title]]@</div>
            <div class="ui hidden divider">&nbsp;</div>
            <div class="ui icon message">
                <i class="paper plane icon"></i>
                <div class="content">
                    <div class="header">@[[host-config-forgot-password-confirmation-message-header]]@ </div>
                    <p>#message#</p>
                </div>
            </div>
        </div>
    </div>
</div>