<div class="ui form">
    <div class="inline fields">
        <label>#tipo#</label>
        <div class="field">
            <div class="ui radio checkbox" data-tooltip="Click to show Page type" data-position="top left"
                data-inverted="">
                <input type="radio" name="tipo" tabindex="1" value="pagina" #checked_pagina#>
                <label>#pagina#</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox" data-tooltip="Click to show System type" data-position="top left"
                data-inverted="">
                <input type="radio" name="tipo" tabindex="2" value="sistema" #checked_sistema#>
                <label>#sistema#</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox" data-tooltip="Click to show both" data-position="top left" data-inverted="">
                <input type="radio" name="tipo" value="ambos" tabindex="0" #checked_ambos#>
                <label>#ambos#</label>
            </div>
        </div>
    </div>
</div>