<div class="ui stackable two column centered grid">
    <div class="column">
        <div class="ui segment">
            <form id="_gestor-host-install" action="@[[pagina#url-raiz]]@host-install/" method="post" name="_gestor-host-install" class="ui form interfaceFormPadrao">
                <div class="ui center aligned header large">@[[host-install-title]]@</div>
                <div class="ui message">
                    <div class="header">@[[host-install-msg-title]]@</div>
                    <p>@[[host-install-msg-content]]@</p>
                </div>
                <input type="hidden" name="user-ftp" value="entrey-user-ftp" autocomplete="username">
                <div class="ui dividing header">@[[host-install-ftp-title]]@</div>
                <div class="field">
                    <label>@[[host-install-ftp-pass-label]]@</label>
                    <input type="password" name="senha-ftp" placeholder="@[[host-install-ftp-pass-placeholder]]@" autocomplete="new-password">
                </div>
                <div class="field">
                    <label>@[[host-install-ftp-pass-2-label]]@</label>
                    <input type="password" name="senha-ftp-2" placeholder="@[[host-install-ftp-pass-2-placeholder]]@" autocomplete="new-password">
                </div>
                <div class="ui hidden divider">&nbsp;</div>
                <div class="ui error message">&nbsp;</div>
                <div class="field">
                    <button class="fluid ui button blue">@[[host-install-button-label]]@</button>
                </div>
            </form>
        </div>
    </div>
</div> 