<!DOCTYPE html>
<html>
    <head>
        <!-- pagina#titulo -->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- pagina#css -->
        <!-- pagina#js -->
    </head>
    <body>
        <!--Header-->
        <div class="desktopcode">
            <div class="ui padded grid colunatop">
                <div class="column"></div>
                <div class="fourteen wide column">
					<div class="ui three column stackable padded grid">
                        <div class="three wide column">
                            <div class="logo">
                                <a href="#">
                                    <img src="https://beta.entrey.com.br/images/logo-principal.png" class="logo-imagem"> 
                                </a>
                            </div>
                        </div>
                        <div class="nine wide column">
                            <div class="ui grid">
                                <div class="center aligned two column">
                                    <div class="ui ordered steps">
                                        <div class="active step">
                                            <div class="content">
                                                <div class="title">Carrinho</div>
                                            </div>
                                        </div>
                                        <div class="disabled step">
                                            <div class="content">
                                                <div class="title">Identificação</div>
                                            </div>
                                        </div>
                                        <div class="disabled step">
                                            <div class="content">
                                                <div class="title">Emissão</div>
                                            </div>
                                        </div>
                                        <div class="disabled step">
                                            <div class="content">
                                                <div class="title">Pagamento</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="four wide column">
                            <div class="ui grid">
                                <div class="ten wide column">
                                    <i class="large user icon"></i>
                                    <span style="color:#000;">#nome-usuário#</span>
                                </div>
                                <div class="six wide right aligned column">
                                    <i class="large shopping cart icon"></i>
                                    <span style="color:#000;">Carrinho</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="column"></div>
            </div>
        </div>
        <div class="mobilecode">
            <div class="ui padded grid colunatop">
                <div class="eleven wide column">
                    <div class="logo-imagem-mobile">
                        <a href="#">
                            <img src="https://beta.entrey.com.br/images/logo-principal.png">
                        </a>
                    </div>
                </div>
                <div class="two wide column">
                    <i class="big user icon"></i>
                </div>
                <div class="two wide column">
                    <i class="big shopping cart icon"></i>
                </div>
                <div class="sixteen wide column">
                    <!--STEPS - Mudar a orden de acordo com a etapa que o cliente está-->
                    <div class="ui fluid steps">
                        <div class="active step">
                            <div class="content">
                                <div class="title">Carrinho</div>
                            </div>
                        </div>
                        <div class="disabled step">
                            <div class="content">
                                <div class="title">Identificação</div>
                            </div>
                        </div>
                        <div class="disabled step">
                            <div class="content">
                                <div class="title">Emissão</div>
                            </div>
                        </div>
                        <div class="disabled step">
                            <div class="content">
                                <div class="title">Pagamento</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @[[pagina#corpo]]@
        <!--Footer-->
        <div class="desktopcode">
            <div class="rodape">
                <div class="ui four column grid padded stackable colunabottom">
                    <div class="one wide column"></div>
                    <div class="seven wide column">
                        <div class="ui two column grid">
                            <!--Informações do cliente-->
                            <div class="column">
                                Loja Teste
                                Rua Florêncio de Abreu, 0000 - (00) 0000-0000
                                00.000.000/0001-00 - Centro - Ribeirão Preto - SP - Brasil
                                Todos os direitos reservados - 2021
                            </div>
                            <div class="column"></div>
                        </div>
                    </div>
                    <div class="seven wide right aligned column">
                        #formas-de-pagamento#
                    </div>
                    <div class="one wide column"></div>
                </div>
            </div>
        </div>
        <div class="mobilecode">
            <div class="colunabottom">
                <div class="ui padded grid">
                    <div class="sixteen wide center aligned column">
                        #formas-de-pagamento#
                    </div>
                </div>
                <div class="ui padded grid">
                    <div class="sixteen wide center aligned column">
                        Loja Teste
                        Rua Florêncio de Abreu, 0000 - (00) 0000-0000
                        00.000.000/0001-00 - Centro - Ribeirão Preto - SP - Brasil
                        Todos os direitos reservados - 2021
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>