.caroucel{
	display:none;
	overflow-y:hidden;
	position:relative;
}
.caroucel .items{
	width:inherit;
	height:inherit;
}
.caroucel .items .item{
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
	width:inherit;
	height:inherit;
}
.caroucel .control-left{
	position:absolute;
	left:10px;
}
.caroucel .control-right{
	position:absolute;
	right:10px;
}
.caroucel .control-center{
	margin-top: -35px;
    width: inherit;
    text-align: center;
}