<div class="three fields layout-profile-row">
    <div class="field">
        <label>#mapping-layout-label#</label>
        <span>#select-layout-profile-layout-#row-index##</span>
    </div>
    <div class="field">
        <label>#mapping-profile-label#</label>
        <span>#select-layout-profile-profile-#row-index##</span>
    </div>
    <div class="field">
        <label>&nbsp;</label>
        <button type="button" class="ui button layout-profile-remove">#mapping-remove-label#</button>
    </div>
</div>
