<div class="field">
    <label>#ia-form-title#</label>
    <div class="ui segment ai-conteiner">
        <div class="ui grid">
            <div class="eight wide column">
                <h3 class="ui header">#titulo#</h3>
            </div>
            <div class="eight wide column right aligned">
                <div class="field">
                    <label>Select Prompt:</label>
                    <select class="ui dropdown ai-prompt-select">
                        #select-options#
                    </select>
                </div>
            </div>
        </div>
        <div class="field">
            <label>Describe your need:</label>
            <textarea rows="6" placeholder="Describe what you need..." class="ai-prompt-textarea"></textarea>
        </div>
        <div class="ui center aligned basic segment">
            <div class="ui primary button ai-send-prompt">Process Request</div>
        </div>
    </div>
</div>