.valorMinimo {
    min-width: 100px;
}

.menuItem>div:hover {
    cursor: pointer;
}

.menuTextosTop>div:hover {
    cursor: pointer;
}

.p{
    min-width: 125px;
}

@media screen and (max-width: 770px) {
    .desktopcode {
        display: none;
    }
}

@media screen and (min-width: 770px) {
    .mobilecode {
        display: none;
    }
}