<div class="ui grid menuMode">
    <div class="six wide column">
        <div class="field">
            <label>Page Sessions:</label>
            <select class="ui dropdown ai-prompt-page-select">
                #select-prompt-page#
            </select>
        </div>
    </div>
    <div class="six wide column hidden ai-prompt-session-container">
        <div class="field">
            <label>Target Session:</label>
            <select class="ui dropdown ai-prompt-session-select">

            </select>
        </div>
    </div>
    <div class="four wide column hidden ai-prompt-session-container">
        <div class="grouped fields">
            <label>Session Option</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="ai-prompt-session-option" value="new-before">
                    <label>Add New Before</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="ai-prompt-session-option" value="target" checked="checked">
                    <label>Change Target Session</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="ai-prompt-session-option" value="new-after">
                    <label>Add New After</label>
                </div>
            </div>
        </div>
        <div class="ui tiny button red ai-prompt-session-delete" style="margin-bottom:10px;"
            data-tooltip="Click to delete the target session" data-position="top left" data-inverted="">
            Delete Target Session
        </div>
    </div>
</div>