.hidden{
    display:none;
}
.extra.content{
	line-height: 3.5em;
}
.fileImage{
    position: relative;
    width: 100%;
    padding-top: 75%;
    overflow:hidden;
}
.fileImage img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top:0;
}