<div class="ui basic modal atualizando">
    <div class="ui icon large header">
        <i class="circular inverted teal cloud download alternate icon"></i>
        Hospedeiro Atualização
    </div>
    <div class="ui tiny center aligned header">Estamos atualizando a plataforma do hospedeiro do seu site para a última versão. Este processo leva poucos segundos.</div>
    <div class="ui active centered inline slow large loader"></div>
    <div class="ui center aligned header">Atualizando... Aguarde!</div>
</div>