<!-- conteiner < -->
<div class="ui basic segment menuConteiner">
    <div class="ui list">
        <!-- itemContCel < --><div class="item">
        #itemCont#
        </div><!-- itemContCel > -->
    </div>
</div><!-- conteiner > -->
<!-- categoria < -->
<div class="ui small header">#categoria-nome#</div>
<div class="ui vertical fluid menu">
    <!-- itemMenu -->
</div><!-- categoria > -->
<!-- simples < -->
<div class="ui vertical fluid menu">
    <!-- itemMenu -->
</div><!-- simples > -->
<!-- item < --><a class="item#class#" href="#link#">
    <div class="ui tiny header">
        <!-- icon < --><i class="#icon# icon"></i><!-- icon > -->
        <!-- icon-2 < --><i class="large icons">
        <i class="#icon# icon"></i>
        <i class="#icon-2# icon"></i>
        </i><!-- icon-2 > -->
        <div class="content ajusteItem">
            #nome#
        </div>
    </div>
</a><!-- item > -->