* {
	box-sizing: border-box;
	font-family: \'Open Sans\', sans-serif;
}
body {
	margin: 0;
}
body, html{
	margin-top:0px !important;
	margin-right:auto !important;
	margin-bottom:0px !important;
	margin-left:auto !important;
	overflow-x:auto !important;
	width:100% !important;
	font-size:16px;
}
@media screen and (max-width: 600px) {
	body, html{
		font-size: 12px;
	}
	html{
		zoom: 50%;
	}
}
html{
	background-color:rgb(238, 238, 238) !important;
}
body{
	background-color:rgb(255, 255, 255) !important;
	margin-top:0px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px;
}
#app{
	width:100%;
	max-width:21cm;
	min-width:21cm;
	margin-top:0px;
	margin-right:auto;
	margin-bottom:0px;
	margin-left:auto;
	background-color:rgb(255, 255, 255);
}
/**************** B2make < *******************/
.box .img{
	width:100%;
	margin: 0;
	display: block;
}
.descritivo-geral{
	background-color:#1B3654;
	color:#FFF;
	margin:0;
	padding:15px 130px;
	font-weight:bold;
	font-size:1rem;
}
.dados-gerais{
	padding:15px 40px;
	display:flex;
	justify-content:space-between;
}
.flex-coluna{
	flex-grow: 1;
}
.dados-consumo{
	font-size:1.4rem;
}
.nome-proposta{
	font-size:1.6rem;
	font-weight:bold;
	margin-bottom:2rem;
}
.dados-simulacao{
	font-size:1rem;
	font-weight:bold;
}
.vendedor-foto{
	text-align:center;
	max-width:130px;
}
.vendedor-dados{
	text-align:center;
	font-size:0.9rem;
	color:#174387;
}
.vendedor-nome{
	margin-top:0.3rem;
	font-size:1.2rem;
}
.vendedor-perfil{
	margin-bottom:0.5rem;
}
.vendedor-link{
	text-decoration-line:none;
	text-decoration-style:initial;
	text-decoration-color:initial;
	color:#174387;
}
.divisor{
	height:30px;
	background-color:#1B3654;
}
.conta-energia{
	position:relative;
}
.ce-tit{
	position:absolute;
	font-size:1.3rem;
	font-weight:bold;
}
.ce-sub{
	position:absolute;
	font-size:1.3rem;
}
.ce-sem-solar{
}
.ce-com-solar{
	color:#0374CD;
}
.ce-economia{
	color:#FFF;
}
.ce-col1{
    left: 75px;
}
.ce-col2{
    left: 290px;
}
.ce-col3{
    left: 518px;
}
.ce-linha1{
    bottom: 66px;
}
.ce-linha2{
	bottom: 42px;
}
.ce-linha3{
	bottom: 20px;
}
.descritivo-equipamentos{
	background-color:#FFF;
	padding:20px 60px 20px 110px;
}
.de-cont{
	position:relative;
	padding-left:40px;
	padding-top:7px;
	min-height:40px;
}
.de-icon{
	position:absolute;
	width:30px;
	height:40px;
	left:0px;
	top:0px;
	background-image:url(https://safeleads-prod.s3-sa-east-1.amazonaws.com/safeleadsfiles/soltaic/capturadetela20220221190520_108b.png);
	background-size:38px;
}
.de-icon1{
	background-position:0px -5px;
}
.de-icon2{
	background-position:0px -38px;
}
.de-icon3{
	background-position:0px -70px;
}
.de-icon4{
	background-position:0px -110px;
}
.valor{
	font-size:2.3rem;
	text-align:center;
}
.financiamento{
	padding:15px;
	text-align:center;
}
/**************** B2make > *******************/