<div class="ui form">
    <div class="inline fields">
        <label>#tipo#</label>
        <div class="field">
            <div class="ui radio checkbox" data-tooltip="Clique para mostrar tipo Página" data-position="top left"
                data-inverted="">
                <input type="radio" name="tipo" tabindex="1" value="pagina" #checked_pagina#>
                <label>#pagina#</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox" data-tooltip="Clique para mostrar tipo Sistema" data-position="top left"
                data-inverted="">
                <input type="radio" name="tipo" tabindex="2" value="sistema" #checked_sistema#
                    data-tooltip="Clique para mostrar os sistemas" data-position="top left" data-inverted="">
                <label>#sistema#</label>
            </div>
        </div>
        <div class="field">
            <div class="ui radio checkbox" data-tooltip="Clique para mostrar ambos" data-position="top left"
                data-inverted="">
                <input type="radio" name="tipo" value="ambos" tabindex="0" #checked_ambos#
                    data-tooltip="Clique para mostrar ambos" data-position="top left" data-inverted="">
                <label>#ambos#</label>
            </div>
        </div>
        <!-- modulos-cel < -->
        <label>Módulo</label>
        <div class="field" data-tooltip="Clique para filtrar o módulo e mostrar apenas páginas do módulo selecionado"
            data-position="top left" data-inverted="">
            <select id="module" class="ui search clearable dropdown gestorModule" name="module">
                <option value="">Selecione um módulo</option>
                <!-- modulos-opcoes -->
            </select>
        </div><!-- modulos-cel > -->
        <!-- publisher-cel < -->
        <label>Publicador</label>
        <div class="field"
            data-tooltip="Clique para filtrar publicador e mostrar apenas páginas do publicador selecionado"
            data-position="top left" data-inverted="">
            <select id="publisher" class="ui search clearable dropdown publisherDropdown" name="publisher">
                <option value="">Selecione um publicador</option>
                <!-- publisher-opcoes -->
            </select>
        </div><!-- publisher-cel > -->
    </div>
</div>