<div class="ui grid menuMode">
    <div class="six wide column">
        <div class="field">
            <label>Página Conteúdo:</label>
            <select class="ui dropdown ai-prompt-page-select">
                #select-prompt-page#
            </select>
        </div>
    </div>
    <div class="six wide column hidden ai-prompt-session-container">
        <div class="field">
            <label>Sessão Alvo:</label>
            <select class="ui dropdown ai-prompt-session-select">

            </select>
        </div>
    </div>
    <div class="four wide column hidden ai-prompt-session-container">
        <div class="grouped fields">
            <label>Sessão Opção</label>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="ai-prompt-session-option" value="new-before">
                    <label>Adicionar Nova Antes</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="ai-prompt-session-option" value="target" checked="checked">
                    <label>Alterar Sessão Alvo</label>
                </div>
            </div>
            <div class="field">
                <div class="ui radio checkbox">
                    <input type="radio" name="ai-prompt-session-option" value="new-after">
                    <label>Adicionar Nova Depois</label>
                </div>
            </div>
        </div>
    </div>
</div>